*{
	padding: 0px;
	margin: 0px;
}

body, html{
    margin: 0 auto;
	color: #000000;
    background-color: #292929;
}

.feature-widget{
    background-color: white;
    width: 920px;
    min-height: 300px;
    display: block;
}

.feature-widget img{
    max-width: 304px;
    max-height: 160px;
    

}